<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pub Central</title>
  </head>
  <header>
    <div class="logo">Logo Genérica</div>
    <p id="user">olá</p>
  </header>
  <div id="perfilUsuario">
    <img id="fotoPerfil" alt="Foto do perfil" />
    <span id="nomeUsuario"></span>
  </div>
  

  <!-- Container centralizado dos pubs -->
  <main>
    <div id="livrosContainer">
      <!-- Os pubs serão exibidos aqui -->
    </div>
  </main>

  <!-- Footer com ícones de redes sociais -->
  <footer>
    <a href="#" aria-label="Facebook">&#x1F426;</a>
    <a href="#" aria-label="Twitter">&#x1F426;</a>
    <a href="#" aria-label="Instagram">&#x1F426;</a>
  </footer>

  <!-- Modal de Login -->


    <script src="/back-charlie/views/carrgar.js"></script>
  </body>
</html>
