<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="userConainer">
        <p id="nomeUser"></p>
        <p id="emailUser"></p>
        <p id="sumaryUser"></p>
        <p id="userFavBook"></p>
        <img id="fotoPerfil" alt="Foto do perfil" />
    </div>
    <div id="livrosContainer"></div>

    
    <script src="/back-charlie/views/viewUser.js"></script>
</body>
</html>